body {
    margin: 0;
    background-color: #0f418654;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

main {
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid rgba(211, 211, 211, 0.345);
}
/* ---------------------- HEADER SECTION */

.nav-bar {
    max-width: 100%;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 212, 213);
    border-bottom: solid 5px rgb(133, 144, 163);
}

.nav-bar h1 {
    font-size: 2.6rem;
    margin-left: 3rem;
}

.navigation {
    margin-inline: 3rem;
    display: flex;
    margin-block: auto;
}

.navigation a i {
    font-size: 1.2rem;
    margin-inline: 5px;
}

.nav-links {
    margin-inline: 2.3rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.live-date {
    font-size: 2.3rem;
    margin-left: 4rem;
    margin-block: 3rem;
    color: rgba(255, 255, 255, 0.949);
}


/* ---------------------- LAYOUT SECTION */

.container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}


.col-15 {
    width: 15%;
    height: 200px;
    margin-inline: 5rem;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(68, 97, 131);
    color: rgb(237, 241, 245);
    box-shadow: 2px 3px 8px rgba(7, 61, 115, 0.407);
}

.col-75 {
    width: 65%;
    padding: 1.4rem;
    height: 180px;
    border-radius: 20px;
    background-color: rgb(68, 97, 131);
    color: rgb(237, 241, 245);
    box-shadow: 2px 3px 8px rgba(7, 61, 115, 0.407);
}


/* ---------------------- OVERLAY SECTION */

.overlay-outer {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 27, 0.811);
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.overlay-inner {
    width: 45%;
    height: 75%;
    border: none;
    border-radius: 30px;
    background-color:rgb(255, 255, 255);
    padding-inline: 2.5rem;
    padding-block: 1.5rem;
    z-index: 5;
}

.overlay-inner h2 {
    text-align: center;
    margin-block: 3rem;
}

.popup-events {
    border: 1px solid rgba(128, 128, 128, 0.142);
    width: 70%;
    height: 35%;
    overflow-y: scroll;
    margin-bottom: 4rem;
}


.reminder {
    margin-top: 2rem;
    width: 60%;
}

.event {
    width: 90%;
    height: auto;
    border-left: 3px solid rgba(8, 90, 184, 0.755);
    border-bottom: 1px solid rgba(211, 211, 211, 0.345);
    line-height: 2px;
    padding-inline: 5px;
    padding-block: 8px;
    margin-bottom: 5px;
}

.event span {
    float: right;
    font-size: 10px;
}


.exit-icon, 
.arrow-left-icon {
    font-size: 1.3rem;
    margin: 1rem;   
}

.exit-icon {
    float: right;
}

.arrow-left-icon {
    float: left;
}


/* ---------------------- EVENT DETAILS SECTION */

.event-modal {
    display: none;
}

.event-modal div {
    width: 80%;
    height: 300px;
    padding: 2rem;
    border: 1px solid grey;
    margin: auto;
}