/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --secondary-font: 'Jura', sans-serif;
    --main-font: 'Playwrite IN', sans-serif;
    --event-title-font: 'Museo Moderno', sans-serif;
  }

body {
    margin: 0;
    background-color: #778da9;
}

h2 {
    font-size: 2.3rem;
    font-family: var(--secondary-font);
}

h3 {
    font-size: 2.2rem;
    font-family: var(--main-font);
    font-weight: 600;
    color: #e76f51;
}

h4 {
    font-size: 1rem;
    font-family: var(--event-title-font);
    font-weight: 600;
    color:#4c535c;
}

a {
    text-decoration: none;
}

main {
    position: relative;
}

.notes {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* border: 1px solid grey; */
    border-radius: 10px;
    /* background-color: rgba(230, 230, 230, 0.66); */
    width: 100px;
    height: 150px;
    padding: 8px;
    margin-top: 1rem;
    font-size: 15px;
    line-height: 1.2rem;
}

span, 
#event-info label {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}


.border-bottom {
    border-bottom: 1px solid rgba(211, 211, 211, 0.698);
    
}

/* ---------------------- HEADER SECTION */

.nav-bar {
    max-width: 100%;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #1d2d44;
    border-bottom: solid 5px #ebebeb;
}

.nav-bar h1 {
    font-size: 2.6rem;
    font-family: var(--main-font);
    margin-left: 3rem;
    color: #ffffff;
}

.navigation {
    margin-inline: 3rem;
    display: flex;
    margin-block: auto;
}

.navigation a i {
    font-size: 1.2rem;
    margin-inline: 5px;
}

.nav-links {
    margin-inline: 2.3rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

#live-date {
    font-size: 2.3rem;
    margin: auto;
    color: #ebebeb;
}

.date-container {
    display: flex;
    margin-block: 3rem;
    padding-bottom: 2rem;
}

.date-nav-container {
    display: flex;
    width: 100%;
    margin: auto;
    align-content: center;
    justify-content: space-between;
}

/* .date-btn {
    height: 25px;
    width: 30px;
    cursor: pointer;
} */

/* ---------------------- LAYOUT SECTION */


.container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.col-15 {
    width: 15%;
    height: 230px;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    /* box-shadow: 2px 3px 8px rgba(115, 117, 118, 0.407); */
    margin-bottom: 2rem;
    margin-inline: 5rem;
    padding: 1.3rem;
    cursor: pointer;
}


/* ---------------------- OVERLAY SECTION */

.overlay-outer {
    width: 100%;
    height: 100%;
    background-color: rgba(22, 24, 27, 0.811);
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
}

.overlay-inner {
    width: 35%;
    height: auto;
    border: none;
    border-radius: 70px;
    /* background-color: rgba(229, 233, 238, 0.984); */
    background-color: #778da9f7;
    padding-inline: 2.5rem;
    padding-block: 1.5rem;
    z-index: 5;
}

.overlay-inner h2 {
    text-align: center;
    margin-block: 3rem;
}

.popup-events {
    border: 1px solid rgba(128, 128, 128, 0.644);
    border-left: none;
    border-top: none;
    border-radius: 8px;
    width: 80%;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 5rem;
}


.day-block-events {
    border-top: 2px solid rgba(205, 205, 205, 0.644);
    border-left: none;
    border-bottom: none;
    width: 80%;
    height: 80px;
    overflow-y: scroll;
    margin-bottom: 1.5rem
}

.planner-date {
    font-family:'Jura', sans-serif;
}
/* .reminder {
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 1rem;

} */

.event {
    width: 95%;
    height: auto;
    background-color: rgba(249, 249, 249, 0.911);
    border-left: 6px solid #219ebc;
    border-bottom: 1px solid rgba(211, 211, 211, 0.768);
    border-radius: 8px;
    line-height: 2px;
    padding-inline: 5px;
    padding-block: 2px;
    margin-bottom: 5px;
}

.event-sm {
    width: 100%;
    height: auto;
    background-color: rgba(227, 227, 227, 0.468);
    border-left: 5px solid #219ebc;
    border-bottom: 1px solid rgba(211, 211, 211, 0.768);
    border-radius: 5px;
    line-height: 1px;
    padding-inline: 5px;
    margin-bottom: 5px;
}



.event-info {
    font-family: var(--secondary-font);
    font-size: 0.93rem;
    font-weight: 700;
    color: #13445f;
}

.event-container {
    display: flex;
    background-color: none;
    border-radius: 8px;
}


.checkbox-container{
    padding: 5px;
    display: flex;
    vertical-align: center;
    background-color: none;
}

.event span {
    float: right;
    font-size: 10px;
    margin-bottom: 5px;
}


.exit-icon, 
.arrow-left-icon {
    font-size: 1.3rem;
    margin: 2rem;   
    color: #ebebeb;
    cursor: pointer;
}


.add-new-icon {
    font-size: 4rem;
    margin-right: 4rem;
    clear: right;
    margin-top: 8rem;
}

.exit-icon, 
.add-new-icon {
    float: right;
}

.arrow-left-icon, 
.reminder {
    float: left;
}

.event-icon-container {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    text-transform: lowercase;
}


#delete-event {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#add-event {
    margin-inline: 2px;
}

#add-event-modal textarea {
    display: flex;
    flex-direction: column;
}

.new-event-btn {
    padding: 2px;
    padding-inline: 5px;
    height: 30px;
    margin-bottom: 1rem;
    margin-left: 30px;
    cursor: pointer;
    /* background-color: rgba(5, 58, 203, 0.877); */
    background-color: #e76f51;
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.new-event-btn:hover {
    background-color: #ebebeb;;
    color: #e65936;
    border: none;
}

.nav-event-btn {
    padding: 20px;
    /* padding-inline: 5px; */
    height: auto;
    margin-bottom: auto;
    margin-left: 30px;
    cursor: pointer;
    background-color: #e76f51;
    border-radius: 5px;
    /* border: 3px solid #f6f6f6; */
    color: #ebebeb;
    /* border: none; */
    font-weight: bold;
}

.nav-event-btn:hover {
    background-color: rgb(236, 236, 236);
    border: 3px solid rgb(75, 75, 75);
    color: #e76f51; 
}

.nav-event-btn:active {
    background-color: rgb(48, 48, 48);
    color: #ffffff;
    border: 3px solid #f6f6f6;
}

.tooltip {
    font-size: 7px;
    display: flex;
    /* text-transform: capitalize; */
    display: none;
    border: 1px solid black;
    background-color: rgb(225, 207, 8);
    border-radius: 2px;
    padding: 2px;
    margin-top: 2px;
    margin-inline: 5px;
    float: left;
    letter-spacing: 0.5px;
}

#day-name-long {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-inline: auto;
    text-align: center;
    color: #ebebeb;
}


/* ---------------------- ADD NEW SECTION */


.modal-box {
    background-color: rgba(229, 233, 238, 0.923);
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 30px;
    padding: 25px;
    height: auto;
    display: none;
}

.modal-box label {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    float:left;
}


.event-modal-input {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.947);
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 1rem;
    height: 15px;
    font-size: 12px;
}

.modal-exit-icon {
    margin-block: 1rem;
    text-align: right;
    margin-right: 20px;
}


#event-time {
    width: 20%;
}

#event-notes {
    min-height: 100px;
    background-color: #ffffff;
    width: 82%;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 1rem;
}

#save-btn,
#reset-btn {
    width: 60px;
    height: 35px;
    padding: 8px;
    margin-inline: 3px;
    border-radius: 5px;
    border: none;
    transition: all 250ms;
}

#save-btn {
    background-color: rgba(0, 128, 0, 0.900);
    color: #ffffff;
}

#save-btn:hover{
    background-color: rgba(20, 106, 20, 0.911);
}

#reset-btn {
    background-color: rgba(255, 0, 0, 0.900);
    color: #ffffff;
}

#reset-btn:hover {
    background-color: rgba(224, 17, 17, 0.911);
}
/* ---------------------- EVENT DETAILS SECTION */

#event-info {
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    height: auto;
    padding-inline: 40px;
    margin-block: 3rem;
    /* margin: auto; */
}

#event-info label{
    margin-top: 2rem;
}

#event-info p{
    font-weight: 550;
    font-size: 14px;
}




/* ---------------------- EVENT LIST PAGE */


/* ---------------------- CALENDAR PAGE */

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 130px);
    gap: 2px;
    padding: 5rem;
    

}

.calendar-day {
    width: 130px;
    height: 130px;
    padding: 5px;
    background-color: rgb(229, 233, 238);
    color: rgba(19, 39, 57, 0.685);
    border: 1px solid grey;
    border-radius: 2px;
}

.calendar-day:hover {
    background-color: rgb(143, 148, 161);
    transition: all 250ms;
    color: rgb(255, 255, 255);
}

.calendar-day-number {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

#month {
    margin-block: auto;
    margin-inline: 40px;
}
